# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/psx/"

video_smooth = "true"
# video_fullscreen_x = ""
# video_fullscreen_y = ""
#include "/opt/retropie/configs/all/retroarch.cfg"
